.sidebar {
  border-right: 1px solid #c2c2c2;
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
}

@media screen and (min-width: 600px) {
  .sidebar {
    width: 20%;
  }
}

nav[role='navigation'] {
  padding: 30px;
}

.sidebar li {
  list-style-type: none;
  margin-bottom: 30px;
}

.sidebar a {
  color: #058eff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.sidebar a:hover {
  color: black;
}

main {
  margin-left: 20%;
  padding: 20px;
}
